
<div class="container">

    <div class="container-fluid text-center">
        <!-- Login form title -->
        <h1>Orders</h1>
    </div>

    <div class="order-list">
        <h2>Order List</h2>
        <button (click)="createOrder()">Create Order</button>
        <ul>
            <li *ngFor="let order of orders">
                <div class="order-item" (click)="toggleOrderItems(order)">
                    <div class="order-info">
                        <strong>Order ID:</strong> {{ order.id }} <br>
                        <strong>Customer:</strong> {{ order.customerName }} <br>
                        <strong>Total Amount:</strong> ${{ order.totalAmount | number:'1.2-2' }}
                    </div>
                    <div *ngIf="order.showItems" class="order-items">
                        <div *ngFor="let item of order.items">
                            {{ item.itemName }} - Quantity: {{ item.quantity }} - Price: ${{ item.price | number:'1.2-2' }}
                        </div>
                    </div>
                </div>

                <div class="order-actions">
                  <button (click)="updateOrder(order)">Update Order</button>
                </div>
            </li>
        </ul>
    </div>


</div>


<!--END OF FORM FOR RESERVATIONS-->
<!--reservations (page 1) (div tag to go with ngIf for first page)-->
