
.d-flex {
  display: flex;
}

.flex-item:nth-child(1) {
  flex-basis: 20%;
}

.flex-item:nth-child(2) {
  flex-basis: 60%;
  flex: 1;
  
 
}

.flex-item:nth-child(3) {
  flex-basis: 20%;
}

.mycontainer {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Adjust the height as needed */
}

.row1 {
  flex-grow: 3; /* Occupies 2/6th of the available space */
  height: 50%;
}

  

.row2 {
  flex-grow: 1; /* Occupies 1/6th of the available space */
  height: 40%;
}

.row2 img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Adjust object-fit property as needed */
}
