

<div class="row">
  <div class="col-md-6 offset-md-3">

    <table class="table">
      <thead>
        <tr>
          <th>Add</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Add 1</td>
          <td><span class="badge badge-success">Active</span> Active</td>
        </tr>
        <tr>
          <td>Add 2</td>
          <td><span class="badge badge-danger">Inactive</span>Active</td>
        </tr>
        <tr>
          <td>Add 3</td>
          <td><span class="badge badge-warning">Active</span> Active</td>
        </tr>
        <tr>
          <td>Add 4</td>
          <td><span class="badge badge-warning">Active</span> Active</td>
        </tr>
        <tr>
          <td>Add 5</td>
          <td><span class="badge badge-warning">Active</span> Active</td>
        </tr>
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  </div>
  </div>


<div class="row">
  <div class="col-md-6 offset-md-3">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/configImage"> Create Add </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/positionImage">Position Add</a>
          </li>

        </ul>
      </div>
    </nav>
  </div>
</div>
